<%= @movie.name %>
<%= @movie.year %>
<%= @movie.is_showing %>
<%= link_to image_tag(@movie.image_url, alt: "movie tag", :size => '200x150')%>
<%= @movie.description %>
</br>


<%= select_tag :date, options_for_select({"#{Date.today.strftime("%m月%e日")}": Date.today, "#{Date.today.days_since(1).strftime("%m月%e日")}": Date.today.days_since(1), "#{Date.today.days_since(2).strftime("%m月%e日")}": Date.today.days_since(2), "#{Date.today.days_since(3).strftime("%m月%e日")}": Date.today.days_since(3), "#{Date.today.days_since(4).strftime("%m月%e日")}": Date.today.days_since(4), "#{Date.today.days_since(5).strftime("%m月%e日")}": Date.today.days_since(5), "#{Date.today.days_since(6).strftime("%m月%e日")}": Date.today.days_since(6)}), include_blank: false %>

<% @schedules.each do |schedule| %>
  <%= link_to movie_schedule_sheets_path(schedule.movie_id, schedule.id, start_time: schedule.start_time, end_time: schedule.end_time), class: "index_button_tag" do %>

    <button type="button" class="reserve_detail_button">座席を予約する</button>
  <% end %>
  <%= schedule.start_time %>
  <%= schedule.end_time %></br></br>
<% end %> 

#data_selectで選んだ日付をクエリパラメータとして渡すにはどうするか？
<%= debug(params) if Rails.env.development? %>