
  <table>
    <thead>
      <tr>
        <th>　ID　</th>
        <th>　映画タイトル　</th>
        <th>　sheet_id　</th>
        <th>　日時　</th>
        <th>　名前　</th>
        <th>　メールアドレス　</th>
        <th>　作成日時　</th>
        <th>　更新日時　</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
      <% if reservation.schedule.movie.is_showing == 1%>
        <tr>
          <td><%= reservation.id %></td>
          <td><%= reservation.schedule.movie.name %></td>
          <td><%= reservation.sheet_id %></td>
          <td><%= reservation.date%>
          <td><%= reservation.name%></td>
          <td><%= reservation.email %></td>
          <td><%= reservation.created_at %></td>
          <td><%= reservation.updated_at %></td>
          <td><%= link_to edit_admin_reservation_path(reservation) do %><span class="glyphicon glyphicon-pencil"></span><% end %><td><%= link_to admin_reservation_path(reservation), method: :delete , data: { confirm: "You sure?" } do%><span class="glyphicon glyphicon-trash"></span><% end %>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate %>