<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= render 'shared/head' %>
    	<%= stylesheet_link_tag 'sheets', media: 'all'%>
    <title>sheets</title>
  </head>
  <body>
    <div class="screen">
      <p>スクリーン</p>
    </div>
    <table>
      <% @sheets.each do |sheet|%>
        <% if sheet.reservation.nil? %>
          <%= link_to new_movie_schedule_reservation_path(movie_id: @movie_id, schedule_id: @schedule_id,date: @date,sheet_id: sheet.id) do %>
            <div class="sheet">
              <p><%= sheet.row %><%= sheet.column%></p>
            </div>
          <% end %>
        <% else %>
          <div class="sheet">
            <p><%= sheet.row %><%= sheet.column%></p>
          </div>
        <% end %>
      <% end %>
    </table>
  </body>
</html>