<!DOCTYPE html>
<html lang="ja">
<head>
  <%= render 'shared/head' %>
  	<%= stylesheet_link_tag 'reservations', media: 'all'%>
	<title>new</title>
</head>
<body>
<%# new template  %>
  <div class="select_all">
    <%= form_with url: reservations_path, scope: :reservation do |f|%>
      <h2>予約ページ</h2>
      <p>選択中の映画</p>
      <div class="select">
        <%= @movie_id.name %>
        <%= f.hidden_field :movie_id, value: @movie_id.id%>
      </div>
      <p>選択中の日時</p>
      <div class="select">
        <%= f.text_field :date, value: @date, readonly: true %>
        <%= f.hidden_field :schedule_id, value: @schedule_id %>
      </div>
      <p>選択中の座席</p>
      <div class="select">
        <%= f.text_field :sheet_id, value: @sheet_id, readonly: true %>
      </div>
      <p>氏名</p>
        <%=f.text_field :name%>
      <p>メールアドレス</p>
        <%= f.email_field :email%>
      <div class="select_submit">
      <%= f.submit "予約を確定する"%>
      </div>
    <% end %>
  </div>
</body>
</html>